<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.IrisApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AddContactActivity"
            android:exported="false"
            android:label="Adicionar Contato" />
        <activity
            android:name=".MeusDireitosActivity"
            android:exported="false"
            android:label="Meus Direitos" />
        <activity
            android:name=".ApoioPsicologicoActivity"
            android:exported="false"
            android:label="Apoio Psicológico" />
        <activity
            android:name=".DelegaciasActivity"
            android:exported="false"
            android:label="Delegacias Manaus" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
